* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;

  max-width: 1600px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
}




.modal_overlay{
position: fixed;
left: 0;
top:0;
width: 100%;
height: 100vh;
background-color:rgba(123, 70, 70, 0.733);

}

.modal_content{

position: fixed;

top: 50%;

left: 50%;
transform: translate(-50%,-50%);

background-color: #fff;
border-radius:10px;
border:solid 2px blue;
width:500px;

height: auto;
display: flex;

flex-direction: column;
align-items: center;

gap:30px;
opacity:0;
  animation:modelContent 0.1s  ease-in ;
  animation-fill-mode: forwards;

  img{
    
    width: 200px;
    height: 150px;
   
 
    animation-name: img;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-delay: 1s;


  }
  


  p::first-line{
    font-size: 20px;
    font-weight: 600;
    color: green;
    margin-bottom: 20px;
  }
button{

    padding:10px 20px;
  
    border-radius: 10px;
 

    &:hover{
      background-color: gold;
    }
}

h1{


  font-size: 14px;
  font-weight: 800;
  color:red;
  margin-top: 20px;
  animation-name:h1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}

}

@keyframes modelContent{
    to{
      margin:0;
      opacity: 1;
      transform: translate(-50%,-50%) ; 
      /*  tranform yozish shart emas */
    }
  }

  @keyframes img{
    from{
      transform: rotate(0deg);
    }

    to{
      transform: rotate(360deg);
    }
  }

  @keyframes h1{

  0%{
       opacity: 0;
 
     }
     100%{
       opacity: 2;
       font-size: 20px;
     }
  //   from{
  //     color:brown;

      
  //   }
  //   to{
  //  color: chartreuse;
  //  font-size: 24px;

  //   }
    

  }


  .registr{

position: fixed;
top:0;

left:0;

width:100%;

height:100vh;
background-color: #fff9;

  }

  .registr_item{

  
    height:auto;
    background-color: rgb(113, 203, 208);
    position: fixed;
    transform: translateX(-50%,-50%);
  }

  .user{
    width:400px;
    height: 300px;
    display: grid;
    justify-items: center;
    align-content: center;
    
div{
  width:300px;
  font-size: 30px;
}
input,button{
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
 background-color: #fff;
 text-indent: 5px;

}
button:hover{
  background-color: yellow;

}

  }